# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*/Slides/*
Xcode
a.out
*.tar
*/CS3040.xcodeproj/*
*.png
OS3307\ \(Modeling\)/*
*.ova
*.vdi
.DS*
*.rtf
*.docx
Rucker_lab2_report.pdf
